@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
/* font-family: "Montserrat", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* font-family: "Outfit", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* font-family: "Oswald", sans-serif; */
:root {
  --color1: black;
  --color2: rgb(105, 105, 105);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************Start nav**************/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem 0rem 0.625rem 0rem;
  box-shadow: 0rem -0.5rem 0.875rem black;
}
ul {
  display: flex;
  gap: 25px;

  li {
    list-style: none;
    display: flex; /*to align items center */
    align-items: center;

    a {
      text-decoration: none;
      color: black;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      transition: 0.5s ease;
    }
    a:hover {
      color: var(--color2);
    }
    button {
      font-family: "Montserrat", sans-serif;
      padding: 0.625rem;
      border-radius: 0.9375rem;
      border: 0.125rem black solid;
      color: black;
      cursor: pointer;
      transition: 0.5s ease;
      font-weight: 700;
    }
    button:hover {
      color: white;
      cursor: pointer;
      background-color: black;
    }
  }
}
/************END nav****************/

/************HERO****************/
.hero {
  color: black;
  text-align: center; /* Center text horizontally */
  padding: 50px 20px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column;
}
.hero-content {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #141c3a;
    margin-bottom: 25px;

    span {
      color: var(--color2);
    }
  }
  p {
    font-size: 1.5rem;
    color: var(--color1);
    font-family: "Outfit", sans-serif;
    font-weight: 300;
  }
}
.hero figure img {
  margin-top: 30px;
  width: 250px;
  height: 250px;
}
/************END HERO****************/
